.our-team{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.our-team .member-box{
  margin-bottom: 15px;
  margin-right: auto;
  width: 32%;
  margin-left: auto;
  border:solid 1px #999;
  box-shadow:4px 3px 4px #99999950;
}

.our-team .member-box:hover{
  box-shadow:4px 3px 4px #56565690;
  cursor: pointer;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

.our-team .member-box .photo{
  line-height: 0;
}
.our-team .member-box .photo > img{
  width:100%;
  height: auto;
}
.our-team .member-box .content{
  padding: 15px;
}
.our-team .member-box .content h3{
  font-size: 17px;
  margin-bottom: 8px;
}
.our-team .member-box .content p{
  margin: 0;
  font-size: 15px;
}

@media screen and (max-width: 1040px){
  .our-team .member-box{
    width: 32.2%;
  }
}

@media screen and (max-width: 900px){
  .our-team .member-box{
    width: 48%;
    margin-right: 1.5%;
  }
}

@media screen and (max-width: 520px){
  .our-team .member-box{
    width: 100%;
    margin-right: 0;
  }
}